#collective-documentation{
	.documentation-category-header{
		background-color: #007bb1;
		color: #fff;
		font-weight: bold;
		font-size: 1.5rem;
		position: relative;
		span{
			padding: 0.5rem 1rem;
			display: inline-block;
		}
		.category-number{
			background-color: #5e5e5e;
			position: absolute;
			top: 0;
			left: 0;
			height: 3.5rem;
		}
		.category-title{
			text-indent: 3rem;
			line-height: 2.5rem;
		}
	}
	.documentation-category-sections{
		.documentation-section{
			&:last-child{
				margin-bottom: 1rem;
			}
			.documentation-checkbox{
				display: none;
				& + .documentation-label{
					background-color: #efefef;
					display: flex;
					width: 100%;
					padding: 0.5rem 1rem;
					margin-top: 1rem;
					max-width: none;
					justify-content: space-between;
					align-items: center;
					&::after{
						padding-left: 0.5rem;
					}
				}
				&:not(:checked){
					& + .documentation-label.doc::after{
						content: "+";
						font-size: 2rem;
					}
					& + .documentation-label.doc + .documentation-files{
						display: none;
					}
				}
				&:checked {
					& + .documentation-label.doc::after{
						content: "-";
						font-size: 2rem;
					}
					& + .documentation-label.doc + .documentation-files{
						display: flex;
						flex-wrap: wrap;
						align-items: stretch;
						justify-content: space-between;
						margin: 0 -1rem;
					}
				}
			}
			.section-number-files{
				white-space: nowrap;
				margin-left: auto;
				font-weight: normal;
				white-space: nowrap;
			}
			.documentation-file{
				width: calc(50% - 2rem);
				background-color: #efefef;
				margin: 1rem;
				padding: 2rem;
				display: flex;
				flex-direction: column;
				justify-content: start;
				img{
					height: auto;
					width: 100%;
				}
			}
			.documentation-file-title{
				color: #000;
				padding: 1rem 0 0.5rem 0;
				display: inline-block;
				border: none;
				font-size: 1.5rem;
			}
			.documentation-file-description {
				font-size: 1.2rem;
				margin-bottom: auto;
				padding-bottom: 2rem;
			}
			.documentation-file-source,
			.documentation-file-size,
			.documentation-file-creation{
				color: #000;
				font-size: 1rem;
				font-weight: normal;
				border-bottom: none;
				margin: 0;
			}
			.documentation-file-download{
				display: block;
				background-color: #007bb1;
				color: #fff;
				padding: 0.2rem;
				text-align: center;
				border-bottom: none;
				margin-top: 1rem;
			}
		}
	}
}
@media (max-width: 498px) {
	#collective-documentation .documentation-category-sections .documentation-section .documentation-file{
		width: 100%;
	}
}
